<h1>Listing users</h1>

<table>
  <tr>
    <th>User id</th>
    <th>Name</th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
      </tr>
  <% end %>
</table>