body,html{
  background: black;
  margin: 0;
  padding: 0;
  color:#fff;
}
a{
  color:#0ff;
}
*,*:before,*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$panelSize: 250px;
$margin: 10px;

#mapwrapper{
  border: 1px solid green;
  position: absolute;
  top: $margin;
  left: $margin;
  right: $panelSize + $margin * 2;
  bottom: $margin;
  overflow: auto;
  >div{
    border:15px solid #444;
    position: absolute;
  }
}
#map{
  position: relative;
  background-image: url(dust.png);
  overflow: hidden;
  width: 1000px;
  height: 1000px;
}

#panel{
  border: 1px solid blue;
  background: #1a8e8c;
  background-image: 
    url(panel-top.png),
    url(panel-bottom.png);
    background-size:100% auto;
  background-repeat: no-repeat;
  background-position: top,bottom;
  position: absolute;
  right: $margin;
  top: $margin;
  bottom: $margin;
  width: $panelSize;
}

.zone{
  $size: 60px;
  //background:#77f;
  background-size: cover;
  background-repeat: no-repeat;
  width:$size;
  height:$size;
  position:absolute;
  margin-left:-$size/2;
  margin-top:-$size/2;
  // box-shadow: 0 0 3px red inset;
  transition: transform .5s;
  &.active{
    transition: transform .5s cubic-bezier(0.45,3,0.56,1);
    transform: scale(1.5);
    z-index: 1;
  }
  &.zone-sawmill{
    background-image: url(sawmill.png);
  }
  &.zone-iron_mine{
    background-image: url(iron-mine.png);
  }
  &.zone-farm{
    background-image: url(field.png);
  }
  &.zone-city{
    background-image: url(city.png);
  }
  &.zone-factory{
    background-image: url(factory.png);
  }
}

.fleet {
  $size: 10px;
  background:#77f;
  background-size: cover;
  background-repeat: no-repeat;
  width:$size;
  height:$size;
  position:absolute;
  margin-left:-$size/2;
  margin-top:-$size/2;
  box-shadow: 0 0 3px red inset;
  z-index: 1;
}

.screen {
  background-image: url(screen.png);
  height: 300px;
  >h2 {
    color: black;
  }
}
