body,html{
  background: black;
  margin: 0;
  padding: 0;
  color:#44f;
}

*,*:before,*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$panelSize: 250px;
$margin: 10px;
#map{
  border: 1px solid green;
  position: absolute;
  top: $margin;
  left: $margin;
  right: $panelSize + $margin * 2;
  bottom: $margin;
  background-image: url(dust.png);
  overflow: auto;
}

#panel{
  border: 1px solid blue;
  background: #1a8e8c;
  background-image: 
    url(panel-top.png),
    url(panel-bottom.png);
    background-size:100% auto;
  background-repeat: no-repeat;
  background-position: top,bottom;
  position: absolute;
  right: $margin;
  top: $margin;
  bottom: $margin;
  width: $panelSize;
}

.zone{
  $size: 50px;
  //background:#77f;
  background-image: url(mine.png);
  background-size: cover;
  background-repeat: no-repeat;
  width:$size;
  height:$size;
  position:absolute;
  margin-left:-$size/2;
  margin-top:-$size/2;
  // box-shadow: 0 0 3px red inset;
  transition: transform .5s;
  &.active{
    transform: scale(1.5);
  }
}